@page "/profile"
@inject AuthenticationStateProvider AuthStateProv

<h3 class="title">Profile</h3>

@* @{
    var authStateTask = AuthStateProv.GetAuthenticationStateAsync();
    var user = authStateTask.Result.User;
} *@

@* @if (user.Identity?.IsAuthenticated ?? false)
{
    <p>Welcome, @user.ToString()</p>
} *@
