@page "/profile"
@using QuizAppBlazor.Shared.DTOs;
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="container d-flex align-items-center flex-column justify-content-center" style="text-align:center;">
    <h2 class="title">Profile</h2>
    <p style="text-align:center; margin:1rem; margin-bottom:3rem;">Stuff about user</p>

    <div class="d-flex flex-column">
        <h3 class="align-self-center title flex-wrap">My quizzes</h3>
        <div class="d-flex flex-wrap align-self-center justify-content-center">
            @if (quizzes == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var quiz in quizzes)
                {
                    //Console.WriteLine(storedItem);

                    <div class="card btn btn-primary" style="width: 18rem; margin: 15px;" @onclick="() => RedirectToQuiz(quiz.LinkId)">
                        <QuizCard Quiz="quiz" />
                    </div>
                }
            }
        </div>
    </div>
</div>


@code {
    private GetQuizDTO[]? quizzes;
    protected override async Task OnInitializedAsync()
    {
        quizzes = await Http.GetFromJsonAsync<GetQuizDTO[]>("api/quiz/user");
    }

    private void RedirectToQuiz(string LinkId)
    {
        Navigation.NavigateTo($"/quiz/{LinkId}");

    }
}


