@page "/quizzes"
@* @using Blazored.LocalStorage; *@
@using QuizAppBlazor.Shared.DTOs
@* @inject Blazored.LocalStorage.ILocalStorageService localStorage *@
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="d-flex flex-column">
    <h1 class="align-self-center title flex-wrap">Pick a quiz!</h1>
    <div class="d-flex flex-wrap align-self-center justify-content-center">
        @if (quizzes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var quiz in quizzes)
            {
                //Console.WriteLine(storedItem);
                
                <div class="card btn btn-primary" style="width: 18rem; margin: 15px;" @onclick="() => RedirectToQuiz(quiz.LinkId)">
                    <QuizCard Quiz="quiz" />
                </div>
            }
        }
    </div>
</div>




@code {
    private GetQuizDTO[]? quizzes;
    protected override async Task OnInitializedAsync()
    {
        quizzes = await Http.GetFromJsonAsync<GetQuizDTO[]>("api/quiz");
    }

    private void RedirectToQuiz(string linkId)
    {
        Navigation.NavigateTo($"/quiz/{linkId}");

    }
}
