@page "/quiz/{LinkId}"
@using QuizAppBlazor.Shared.DTOs;
@inject HttpClient Http

<div class="d-flex flex-column">
    <h1 class="title align-self-center flex-wrap">@quiz.Title</h1>
    <h5 class="align-self-center flex-wrap" style="text-align:center; max-width:600px; padding-top:1rem;">@quiz.Description</h5>
    <br />
    @if (!quizActivated)
    {
        <button class="btn btn-primary align-self-center justify-content-center" style="margin: 10px; padding: 1rem;" @onclick="StartQuiz"><strong>Let's go!</strong>🚀</button>
    }
    else
    {
        <QuizRun Id=@LinkId />
    }
</div>



@code {
    [Parameter]
    public string LinkId { get; set; }

    private GetQuizDTO? quiz = new GetQuizDTO();
    protected override async Task OnInitializedAsync()
    {
        quiz = await Http.GetFromJsonAsync<GetQuizDTO>($"api/quiz/{LinkId}");
    }
    private bool quizActivated = false;
    private void StartQuiz()
    {
        quizActivated = true;
    }

}
