@page "/quiz/{Id:guid}"
@* @using Blazored.LocalStorage; *@
@using QuizAppBlazor.Shared.DTOs;
@inject HttpClient Http
@* @inject ILocalStorageService _localStorageService *@


<div class="d-flex flex-column">
    <h1 class="title align-self-center flex-wrap">@quiz.Title</h1>
    <h5 class="align-self-center flex-wrap" style="text-align:center;">@quiz.Description</h5>
    <br />
    @if (!quizActivated)
    {
        <button class="btn btn-primary align-self-center justify-content-center" style="margin: 10px; padding: 1rem;" @onclick="StartQuiz"><strong>Let's go!</strong>🚀</button>
    }
    else
    {
        <QuizRun QuizId="Id" />
    }
</div>



@code {
    [Parameter]
    public Guid Id { get; set; }

    private GetQuizDTO? quiz = new GetQuizDTO();
    protected override async Task OnInitializedAsync()
    {
        quiz = await Http.GetFromJsonAsync<GetQuizDTO>($"api/quiz/{Id}");
        //await _localStorageService.ClearAsync();
    }
    // protected override async Task OnInitializedAsync()
    // {
    //     quizId = await _localStorageService.GetItemAsync<Guid>("QuizId");
    //     Console.WriteLine(quizId);
    // }
    private bool quizActivated = false;
    private void StartQuiz()
    {
        quizActivated = true;
    }

}
